<configuration>

    <property name="PATTERN" value="%d %5p [%c] %m%n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="off">
        <appender-ref ref="console"/>
    </root>
    <logger name="kr.awesomepia.auth" level="debug" appender-ref="console"/>
    <logger name="java.sql" level="error"></logger>
    <logger name="jdbc.sqltiming" level="INFO"></logger>
    <logger name="jdbc.resultsettable" level="INFO"></logger>

</configuration>